#pane{
    -fx-background-image: url("Covid2.jpg");
    -fx-background-size: cover;
}

#firstlabel{
    -fx-text-fill: white;
    -fx-font-size: 70;
}
#secondlabel{
    -fx-text-fill: white;
    -fx-font-size: 50;
}
#thirdlabel{
    -fx-text-fill: white;
    -fx-font-size: 50;
}
#fourthlabel{
    -fx-text-fill: white;
    -fx-font-size: 50;
}
